
*{
    margin: 0;
    padding: 0;
    list-style:none;
 }
.partie3{
    background-color: rgb(102, 33, 79);
   width: 100%;
    height: 100vh;
 }
 
 
 ul{
    display: flex;
    justify-content: center;
    
 }
 li{
    margin: 60px;
    font-size: 4em;
    height: 100px;
    width: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
background: #ffffff;
box-shadow: inset 6px 6px 39px #e0e0e0,
            inset -6px -6px 39px #ffffff;
 }
 li:hover{

            box-shadow:  6px 6px 39px #e0e0e0,
             -6px -6px 39px #ffffff;
 }
 #skills{
    text-align: center;
    
 }



 .partie2{
    background-color: #ee82ee;
    width: 100%;
     height: 100vh;
   
 }
 #profil{
    text-align: center;
 }
 #About{
    margin: 100px;
    font-size: 200%;
    padding-left: 19cm;
    font-weight: bold;
    position: absolute;
    
 }

 #details{
    font-size: 200%;
    padding-left: 15.5cm;
    font-weight: bold;
    position: absolute;
    margin: 18%;
 }
 #just{
    padding-left: 14cm;
    font-weight: normal;
    font-size: larger;
    top: 30cm;
    margin: 11%;
 }
 #deta{
    padding-left: 18cm;
    top: 9cm;
    font-weight: normal;
    position: absolute;
    font-size: larger;
  }
  #autre{
    padding-left: 25cm;
    top: 9cm;
    font-weight: normal;
    position: absolute;
    font-size: larger;
  } 
  #img{
    padding-left: 5cm;
   top: 3cm;
    margin: 20px;
    width: 200px;
   position: absolute;
  border-left: 129px;
   
}